:root{
	--oscuro:#07070A;
	--azulOscuro:#0A1128;
	--azulClaro:#006FE6;
	--blanco:#FEFCFB;
	--titulos:'Baloo 2', cursive;
	--parrafos:'Montserrat', sans-serif;

}
html{
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body{
	font-size: 1.6rem;
}
*,*::before, *::after{
	box-sizing: inherit;
}

/*Estilos Globales*/
h1{
	font-family: var(--titulos);
	background-color: var(--azulOscuro);
	font-size: 5rem;
	color: var(--blanco);	

}
h2, h3{
	font-family: var(--parrafos);
	background-color: var(--azulOscuro);
	font-size: 2rem;
	color: var(--blanco);
	position: absolute;
	//padding: 2px;
	//top: 6px;
	//right: 4px;

}


}
p, a{
	font-family: var(--parrafos);
	color: var(--azulClaro);

}
.ocultar{
	display: none;
}
.contenedor{
	margin: 0 auto;
	max-width: 120rem;
	width: 95%;
}
.btn{
	padding: 1rem 3rem;
	font-weight: bold;
	font-family: var(--parrafos);
	font-size: 1.5rem;
	border: none;
	color: var(--blanco);
}
.btn:hover{
	cursor: pointer;
}
.azul{
	background-color: var(--azulClaro);
}
@keyframes desplazamiento{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(0);
	}
}
/*encabezado*/
.encabezado{
	background-image: url(../imagenes/cromofondo.jpg);
	
	background-repeat: no-repeat;
	height:120vh;
	background-size: cover;
	background-position: center center;
	position: relative;

}


.encabezado::before{
	content: '';
	position: absolute;
}
.logo h1{
	font-size: 5rem;
	width: 400px;
	text-align: center;

}
.logo h1 span{
	color: var(--azulClaro);
}
.contenido-navegacion{
	display: flex;
	align-items:center;
	justify-content: space-around;
	box-shadow: 10px 10px 16px -6px rgba(0,0,0,0.5);
	
}
.navegacion{
	position: absolute;
	left: 20px;
	top: 250px;
	animation: desplazamiento .5s ease-in-out;
}
@media(min-width: 768px){
	.ocultar{
		display: inline;
	}
}
.navegacion a{
	display: block;
	font-size: 2rem;
	padding: 1.1rem;
	color: var(--blanco);
	transition: all 1s ease-in-out;
}
.navegacion a:hover{
	background-color: var(--azulClaro);
}
@media(min-width: 768px){
	.navegacion a{
		display: inline;
	}
}
@media(min-winth: 768px){
	.navegacion{
		position: relative;
		top: unset;
		width: auto;
		background-color: unset;
	}
}
		
.hamburguesa span{
	width: 5rem;
	height: 1rem;
	border: 3px solid white;
	background-color: var(--oscuro);
	display: block;

}

@media(min-width: 768px){
	.hamburguesa{
		display: none;
	}

/*contenido del encabezado*/

.texto-encabezado h2{
	font-size: 2rem;
	text-align: center;
	color: var(--blanco);
	padding-top: 4rem;
	position: relative;
	top: 1px;
}
.formulario-encabezado{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 4rem;
	text-align: center;
}
.formulario-encabezado h2{
	font-size: 2rem;
	text-align: center;
	position: relative;
	top: 10px;
	right: 70px;

}

.input-encabezado{
	margin-bottom: .3rem;
	width: 70%;

}
.input-encabezado input{
	width: 60%;
	padding: 0 1.6rem;
	height: 4.5rem;
	border: 1px solid darkgrey;
	border-radius: 1rem;
	font-family: var(--parrafos);

}
/*seccion sobre nosotros*/
.nosotros h2{
	text-align: center;
	font-size: 4rem;
	color: var(--azulClaro);
	position: relative;
	bottom: 10px;
}
.nosotros h3{
    //text-align: center;
	font-size: 2rem;
	color: var(--azulClaro);
	position: relative;
	width: 30%;
	bottom: 25px;
}
.nosotros p{
	font-size: 2rem;
}
.contenido-nosotros{
	background-image: url(../imagenes/cromo.jpg);
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	position: relative;
	height: 100vh;
	background-position: center center;
	background-size: cover;
	
}

.texto-nosotros h3{
	font-size: 2rem;
	color: var(--azulClaro);
	text-align: center;
	color: var(--azulClaro);
}
.ofertas h2{
    text-align: center;
	font-size: 4rem;
	color: var(--azulClaro);
	position: relative;
	bottom: 10px;	
}
.contenido-ofertas{
    background-image: url(../imagenes/fotocromo.jpg);
	//display: grid;
	//grid-template-rows: repeat(2, 1fr);
	position: relative;
	height: 100vh;
	background-position: center center;
	background-size: cover;
}
.contenido-ofertas h3{
    font-size: 2rem;
	color: var(--azulClaro);
	position: relative;
	width: 25%;
	height: 25px;
	bottom: 1px;
}
.contenido-ofertas p{
	font-size: 2rem;
	width: 25%;
	height: 25px;
	position: relative;
	color: var(--azulClaro);
}
.contenido-ofertas a{
	font-size: 2rem;
	width: 25%;
	height: 25px;
	position: relative;
	color: var(--azulClaro);
	left: 900px;
	bottom: 500px;
}
	
.contacto{
	padding-top: 5rem;
}
.contacto h2{
	text-align: center;
	color: var(--azulClaro);
	font-size: 3rem;
	top: 2197px;
}
.contacto h3{
	top: 2240px;
}
@media(min-width: 768px){

.contenido-contacto{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	}
}
.informacion-contacto{
	background-image: url(../imagenes/contactos1.jpg);
	width: 98%;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
	//position: relative;
}
.informacion-contacto p{
	font-size: 2rem;
	font-family: var(--parrafos);
	padding-left: 3rem;
}
.informacion-contacto a{
	font-size: 2rem;
	color: var(--azulClaro);
	background-position: center center;
	background-size: cover;
}
.informacion-contacto h4{
	font-size: 2rem;
	padding-left: 3rem;
}
.informacion-contacto::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	rigth: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;
}
.formulario-contacto{
	padding: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--azulOscuro);
	color: white;

}
.input-contacto label{
	font-family: var(--parrafos);
	display: block;
	margin: 1rem 0;
	font-weight: bold;
}
.input-contacto input{
	padding: 1.2rem 1rem;
	font-family: var(--parrafos);
}
.input-contacto input, .input-contacto textarea{
	width: 100%;
	outline: none;
}
.input-contacto textarea{
	resize: none;
}
.input-contacto input[type="submit"]{
	width: auto;
	padding: 1rem 3rem;
	transition: background-color .5 ease-in-out;
}
.input-contacto input[type="submit"]:hover{
	background-color: var(--blanco);
	color: var(--azulClaro);
}
.footer{
	display: flex;
	align-items: center center;
	justify-content: space-around;
}
.container{
	//filter: contrast(50%);
	background-color: #0A1128;
	position: absolute;


}
.caja{
	display: inline-block;
	width: 50px;
	height: 50px;
	background: red;
	margin: 18px;
	margin-right: 50px;
	border-radius: 50%;
	//filter: blur(20px);
}
.caja:first-child{
	animation: trasladar 1.3s alternate infinite;
}
@keyframes trasladar{
	0%{
		transform: translate(0);
	}
	100%{
		transform: translate(120px);
	}
}

